# production
/build

# Logs
old/
/old
old
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

#misc
.env
.env.local
.env.development.local
.env.text.local
.env.production.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Local Netlify folder
.netlify
