@import "normalize.css";
@import "fonts.css";
@import "buttons.css";

*,
*::before,
*::after {
  font-family: Gotham Rounded, sans-serif;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}
