@import "normalize.css";
@import "fonts.css";
@import "buttons.css";
@import "navbar.css";

*,
*::before,
*::after {
  font-family: Gotham Rounded, sans-serif;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.4rem;
  font-family: "Gotham Rounded", "Roboto", "Noto Sans KR", "PingFang SC", "Apple SD Gothic Neo", "Microsoft YaHei UI", "Malgun Gothic", sans-serif;
  /*background-color: white;*/
  display: flex;
  justify-content: center;
  //min-width: 1440px;
}
