.btn {
  background: none;
  border: none;
  outline: none;
  font-weight: bold;
  font-size: inherit;
  border-radius: 5px;
  padding: 5px 20px;
  /* cursor: pointer; */
}
.btn--primary {
  color: white;
  background-color: hsl(359, 10%, 70%);
}

.btn--primary:hover {
  color: white;
  background-color: hsl(359, 10%, 30%);
}
.btn--danger {
  color: white;
  background-color: hsl(0, 100%, 50%);
}

.btn--danger:hover {
  color: white;
  background-color: hsl(0, 100%, 35%);
}
